<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$db_charset#}" />
<title>PBDigg! Administrator's Control Panel</title>
<link href="../templates/admin/images/main.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript">
var pb_url = '{#$_PBENV[PB_URL]#}';
var pb_lang = '{#$pb_lang#}';
var pb_template = 'admin';
</script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/admin.js?"></script>
{#$editorjs#}
</head>